.header {
    display: flex;
    align-items: center;
    background: gray;
    justify-content: space-between;
}
.logo img {
    width: 10rem;
    height: 3rem;
}
.input-wrapper input {
    padding: 0.5rem;
    width: 20rem;
}
.userLogo img {
    width: 4rem;
    height: 3rem;
    clip-path: circle();
}